body {
    background-color: #f4f4f4;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0em;
}


/*.....................Id................. */

#main-header {
    background-color: orange;
    color: white;
}

#navbar {
    background-color: gold;
    color: white;
}

#navbar ul {
    padding: 0em;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a:link {
    color: #555;
    text-decoration: none;
    font-size: 18px;
    padding-right: 20px;
}
#navbar a:visited {
    color: green;
}
#navbar a:hover {
    color: white;
    text-shadow: 2px 2px #555;
    text-shadow: 2px 2px #555;
}
#navbar a:active {
    color: black;
}

#main-header {
    display: grid;
    background-image: url(Images/main-header-image.jpg);
}
#main-header h1{
    text-align: center;
    text-shadow: 3px 2px darkred;
    font-size: 60px;
}

/*.................Class.................*/

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.top-logo {
    width: 8em;
    height: 8em;
    margin-left: 2em; 
}
